#Hardhat files
cache/
artifacts/
dist/

# local deployments
deployments/localhost

coverage*
lcov.info
typechain/

.vscode/*
!.vscode/settings.json.default
!.vscode/launch.json.default
!.vscode/extensions.json.default

node_modules/
.env

.yalc
yalc.lock
yarn-error.log
package-lock.json

contractsInfo.json
deployments/hardhat
